import ReactDOM from 'react-dom';
import '@babel/polyfill';
import React from 'react';
<%_if (plugins.mobx) {_%>
import {Provider} from 'mobx-react';
<%_}_%>
<%_if (plugins.router) {_%>
import {Router, Switch} from 'react-router-dom';
import {RouterStore, syncHistoryWithStore} from 'mobx-react-router';
import {createBrowserHistory} from 'history';
<%_}_%>
import './index.less';
import * as serviceWorker from './serviceWorker';
<%_if (plugins.antd) {_%>
import {LocaleProvider, message} from 'antd';
import zh_CN from 'antd/lib/locale-provider/zh_CN';
import Moment from 'moment';
import 'moment/locale/zh-cn';

//国际化配置
Moment.locale('zh-cn');
message.config({maxCount: 1});
<%_}_%>

<%_if (plugins.router) {_%>
//动态注入views
const views = {};
<%_}_%>

<%_if (plugins.mobx) {_%>
//动态注入models
const models = {};
<%_}_%>

<%_if (plugins.router) {_%>
const routing = new RouterStore();
const browserHistory = createBrowserHistory();
const history = syncHistoryWithStore(browserHistory, routing);
models.routing = routing;
<%_}_%>

const Element = _ => (
<%_if (plugins.mobx) {_%>
<Provider {...models}>
    <%_}_%>
    <%_if (plugins.antd) {_%>
    <LocaleProvider locale={zh_CN}>
        <%_}_%>
        <div>
            <%_if (plugins.router) {_%>
            <Router history={history}>
                <Switch>
                    {views.map((view, index)=><AuthRoute key={index} {...view}/>)}
                    <AuthRedirect success={'/main'} failed={'/login'}/>
                </Switch>
            </Router>
            <%_}_%>
        </div>
        <%_if (plugins.antd) {_%>
    </LocaleProvider>
    <%_}_%>
    <%_if (plugins.mobx) {_%>
</Provider>
<%_}_%>
);

ReactDOM.render(<Element />, document.getElementById('root'));

serviceWorker.unregister();

<%_if (plugins.mobx) {_%>
//非组件使用mobx时，import这个
export {models}
<%_}_%>